<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />

<head th:replace="~{/fragments/head :: head}"></head>
<style>
.tg-postbook-fix {
	min-height: 600px;
}

.st-hiden {
	display: none;
}
</style>
<body class="tg-home tg-homeone">

	<div id="tg-wrapper" class=" tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

			<!--************************************
					Best Selling Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-sectionhead">
								<h2><span>Lựa chọn của mọi người</span>Sách bán chạy nhất</h2>
								<a class="tg-btn" href="javascript:void(0);" th:href="@{/products}">Xem tất cả</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
								<div class="item" th:each="item : ${listTop10Books}">
									<div class="tg-postbook">
										<figure class="tg-featureimg">
											<div class="tg-bookimg">
												<div class="tg-frontcover"><img th:src="@{'/loadImage?imageName='+${item.bookImage}}" alt="image description" style="height: 250px"></div>
												<div class="tg-backcover"><img th:src="@{'/loadImage?imageName='+${item.bookImage}}" alt="image description"  style="height: 250px"></div>
											</div>
											<a class="tg-btnaddtowishlist" href="/login" th:if= "${customer.email == null}">
												<i class="icon-heart"></i>
												<span>Đăng Nhập</span>
											</a>
											
											<div th:if= "${customer.email != null}">
												<a  th:class="tg-btnaddtowishlist + ' ' + ${item.id} "  th:attr="onclick=|doFavorite('${item.id}')|"  th:if= "${item.favorite} == false">
													<i class="icon-heart"></i>
													<span>Thêm yêu thích</span>
												</a>
												
										 		<a th:class="tg-btnaddtowishlist +  ' ' + ${item.id}  + ' hiden-flagFavorite' + ' st-hiden'  + ' flagFavorite' "  th:attr="onclick=|doFavorite('${item.id}')|"   style="background: #77b748">
													<i class="icon-heart"></i>
													<span>Đã yêu thích</span>
												</a>
												<a th:class="tg-btnaddtowishlist +  ' ' + ${item.id} + ' do-flagFavorite' + ' st-hiden' "  th:attr="onclick=|doFavorite('${item.id}')|">
													<i class="icon-heart"></i>
													<span>Thêm yêu thích</span>
												</a>   
												
												<a th:class="tg-btnaddtowishlist  + ' ' + ${item.id} + ' hiden-flagFavorite' + ' flagFavorite' + ' bookmark'"  th:attr="onclick=|doFavorite('${item.id}')|"   style="background: #77b748" th:if= "${item.favorite} == true">
													<i class="icon-heart"></i>
													<span>Đã yêu thích</span>
												</a>
											</div>
										</figure>
										<div class="tg-postbookcontent">
											<ul class="tg-bookscategories">
												<li><a href="javascript:void(0);" th:text="${item.category.categoryName}"></a></li>
											</ul>
											<div class="tg-themetagbox"><span class="tg-themetag">giảm giá</span></div>
											<div class="tg-booktitle">
												<h3><a href="javascript:void(0);" th:href="@{/productDetail(id=${item.id})}" th:text="${item.bookName}"></a></h3>
											</div>
											<span class="tg-bookwriter">Bởi : <a href="javascript:void(0);" th:href="@{/authorDetail(id=${item.id})}" th:text="${item.author?.authorName}"></a></span>
											<span class="tg-stars"><span></span></span>
											<span class="tg-bookprice">
												<ins th:text="${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">$25.18</ins>
												<del th:text="${#numbers.formatDecimal(item.coverPrice, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">$27.20</del>
											</span>
											<a class="tg-btn tg-btnstyletwo"  th:attr="onclick=|addCart('${item.id}')|">
												<i class="fa fa-shopping-basket"></i>
												<em>thêm vào giỏ</em>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Best Selling End
			*************************************-->

			<!--************************************
					Featured Item Start
			*************************************-->
			
			<!--************************************
					Featured Item End
			*************************************-->
			<!--************************************
					New Release Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-newrelease">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="tg-sectionhead">
									<h2><span>Có thể bạn sẽ thích</span>Sách Mới Phát Hành</h2>
								</div>
								<div class="tg-description">
									<p>Những cuốn sách mới phát hành chúng tôi nghĩ bạn sẽ thích.</p>
								</div>
								<div class="tg-btns">
									<a class="tg-btn tg-active" href="javascript:void(0);">Hiển thị tất cả</a>
									<a class="tg-btn" href="javascript:void(0);">Đọc thêm</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="row">
									<div class="tg-newreleasebooks">
										
										
										<div class="col-xs-4 col-sm-4 col-md-6 col-lg-4" th:each="item : ${listNewBook}">
											<div class="tg-postbook">
												<figure class="tg-featureimg">
													<div class="tg-bookimg">
														<div class="tg-frontcover"><img th:src="@{'/loadImage?imageName='+${item.bookImage}}" alt="image description" style="height: 250px"></div>
														<div class="tg-backcover"><img th:src="@{'/loadImage?imageName='+${item.bookImage}}" alt="image description" style="height: 250px"></div>
													</div>
													<a class="tg-btnaddtowishlist" href="javascript:void(0);" th:if= "${customer.email == null}">
												<i class="icon-heart"></i>
												<span>Đăng Nhập</span>
											</a>
											<a class="tg-btnaddtowishlist" href="javascript:void(0);" th:if= "${customer.email != null}">
												<i class="icon-heart"></i>
												<span>Thêm yêu thích</span>
											</a>
												</figure>
												<div class="tg-postbookcontent">
													<ul class="tg-bookscategories">
														<li><a href="javascript:void(0);">Adventure</a></li>
														<li><a href="javascript:void(0);">Fun</a></li>
													</ul>
													<div class="tg-booktitle">
														<h3><a  th:href="@{/productDetail(id=${item.id})}"  th:text="${item.bookName}"></a></h3>
													</div>
													<span class="tg-bookwriter">Bởi: <a href="javascript:void(0);" th:href="@{/authorDetail(id=${item.id})}" th:text="${item.author?.authorName}"></a></span>
													<span class="tg-stars"><span></span></span>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					New Release End
			*************************************-->
			<!--************************************
					Collection Count Start
			*************************************-->
			<section class="tg-parallax tg-bgcollectioncount tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-04.jpg">
				<div class="tg-sectionspace tg-collectioncount tg-haslayout">
					<div class="container">
						<div class="row">
							<div id="tg-collectioncounters" class="tg-collectioncounters">
								<div class="tg-collectioncounter tg-drama">
									<div class="tg-collectioncountericon">
										<i class="icon-bubble"></i>
									</div>
									<div class="tg-titlepluscounter">
										<h2>Kịch tính</h2>
										<h3 data-from="0" data-to="6179213" data-speed="8000" data-refresh-interval="50">6,179,213</h3>
									</div>
								</div>
								<div class="tg-collectioncounter tg-horror">
									<div class="tg-collectioncountericon">
										<i class="icon-heart-pulse"></i>
									</div>
									<div class="tg-titlepluscounter">
										<h2>Kinh dị</h2>
										<h3 data-from="0" data-to="3121242" data-speed="8000" data-refresh-interval="50">3,121,242</h3>
									</div>
								</div>
								<div class="tg-collectioncounter tg-romance">
									<div class="tg-collectioncountericon">
										<i class="icon-heart"></i>
									</div>
									<div class="tg-titlepluscounter">
										<h2>Lãng mạng</h2>
										<h3 data-from="0" data-to="2101012" data-speed="8000" data-refresh-interval="50">2,101,012</h3>
									</div>
								</div>
								<div class="tg-collectioncounter tg-fashion">
									<div class="tg-collectioncountericon">
										<i class="icon-star"></i>
									</div>
									<div class="tg-titlepluscounter">
										<h2>Phong cách</h2>
										<h3 data-from="0" data-to="1158245" data-speed="8000" data-refresh-interval="50">1,158,245</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Collection Count End
			*************************************-->
			<!--************************************
					Picked By Author Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-sectionhead">
								<h2><span>Một số cuốn sách hay</span>Từ các tác giả</h2>
								<a class="tg-btn" href="javascript:void(0);">Xem tất cả</a>
							</div>
						</div>
						<div id="tg-pickedbyauthorslider" class="tg-pickedbyauthor tg-pickedbyauthorslider owl-carousel">
							
							
							<div class="item" th:each="item : ${listTop10Books}">
								<div class="tg-postbook">
									<figure class="tg-featureimg">
										<div class="tg-bookimg">
											<div class="tg-frontcover"><img th:src="@{'/loadImage?imageName='+${item.bookImage}}" alt="image description" style="height: 261px ; width: 182px"></div>
										</div>
										<div class="tg-hovercontent">
											<div class="tg-description">
											</div>
											<strong class="tg-bookpage">Số trang: 206</strong>
											<strong class="tg-bookcategory" th:text="${item.category.categoryName}"></strong>
											<strong class="tg-bookprice">Giá: [[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']]</strong>
											<div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
										</div>
									</figure>
									<div class="tg-postbookcontent">
										<div class="tg-booktitle">
											<h3><a th:href="@{/productDetail(id=${item.id})}" th:text="${item.bookName}"></a></h3>
										</div>
										<span class="tg-bookwriter">By: <a th:href="@{/authorDetail(id=${item.id})}" th:text="${item.author?.authorName}"></a></span>
										<a class="tg-btn tg-btnstyletwo"  th:attr="onclick=|addCart('${item.id}')|">
											<i class="fa fa-shopping-basket"></i>
											<em>Thêm giỏ hàng</em>
										</a>
									</div>
								</div>
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Picked By Author End
			*************************************-->
			<!--************************************
					Testimonials Start
			*************************************-->
			
			<!--************************************
					Testimonials End
			*************************************-->
			
			<!--************************************
					Call to Action Start
			*************************************-->
			<!--************************************
					Call to Action End
			*************************************-->
			<!--************************************
					Latest News Start
			*************************************-->
			<!--************************************
					Latest News End
			*************************************-->

		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout" th:replace="~{/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="js/vendor/jquery-library.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.vide.min.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/gmap3.js"></script>
	<script src="js/main.js"></script>
</body>

</html>