<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8">
</head>
<body>
	<header id="tg-header" class="tg-header tg-haslayout"
		th:fragment="header">
		<div class="tg-topbar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-addnav">
							<li><a href="javascript:void(0);"> <i
									class="icon-envelope"></i> <em>Liên hệ</em>
							</a></li>
							<li><a href="javascript:void(0);"> <i
									class="icon-question-circle"></i> <em>Trợ giúp</em>
							</a></li>
						</ul>

						<div class="tg-userlogin" th:if="${customer.email != null}">
							<div class="dropdown tg-themedropdown tg-currencydropdown">
								<a href="javascript:void(0);" id="tg-currenty"
									class="tg-btnthemedropdown" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <i
									class="icon-earth"></i> <span>Chào ,
										[[${customer.fullname}]] </span>
								</a>
								<ul class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-currenty">
									<li><a th:href="@{/logout}"> <span>Đăng xuất</span>
									</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-middlecontainer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<strong class="tg-logo"><a th:href="@{/}"><img
								src="images/logoUpdate.png" width="150px" alt="company name here"></a></strong>
						<div class="tg-wishlistandcart">
							<div class="dropdown tg-themedropdown tg-wishlistdropdown">
								<a href="/favorite" id="tg-wishlisst"
									class="tg-btnthemedropdown"> <span class="tg-themebadge"
									id="totalFavorite" th:text="${totalSave}"></span> <i
									class="icon-heart"></i> <span>Yêu thích</span>
								</a>

							</div>
							<div class="dropdown tg-themedropdown tg-minicartdropdown">
								<a href="javascript:void(0);" id="tg-minicart"
									class="tg-btnthemedropdown" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <span
									class="tg-themebadge" th:text="${totalCartItems}"
									id="totalCartItems"></span> <i class="icon-cart"></i> <span>Giỏ
										hàng</span>
								</a>
								<div class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-wishlisst" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<div class="tg-description">
										<p>Không có sản phẩm nào trong giỏ hàng!</p>
									</div>
								</div>



								<div class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-minicart" th:each="item : ${cartItems}">

									<div class="tg-minicartbody" th:each="item : ${cartItems}">
										<div class="tg-minicarproduct">
											<figure>
												<img
													th:src="@{'/loadImage?imageName='+${item.book.bookImage}}"
													alt="image description" width="50" height="50">

											</figure>
											<div class="tg-minicarproductdata">
												<h5>
													<a href="javascript:void(0);"
														th:text="${item.book.bookName}"></a>
												</h5>
												<h6>
													<a href="javascript:void(0);">[[${#numbers.formatDecimal(item.book.price,
														1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']]</a>
												</h6>
											</div>
										</div>
									</div>

									<div class="tg-minicartfoot">
										</a> <span class="tg-subtotal">Tổng tiền <strong>[[${#numbers.formatDecimal(item.book.price
												* item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']]</strong></span>
										<div class="tg-btns">
											<a class="tg-btn tg-active" href="/cartItem">Xem Giỏ Hàng</a>
											<a class="tg-btn" href="/checkout">Thanh Toán</a>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="tg-searchbox">
							<form th:action="@{/search}" class="tg-formtheme tg-formsearch">
								<fieldset>
									<input type="text" name="keyword"
										class="typeahead form-control" th:value="${keyword}"
										placeholder="Tìm kiếm theo tên sách...">
									<button type="submit">
										<i class="icon-magnifier"></i>
									</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-navigationarea">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						

						 <nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
									<ul>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Tất Cả Danh Mục</a>
											<div class="mega-menu">
												<ul class="tg-themetabnav">
													<li>
														<a th:href="@{/index}">Trang chủ</a>
													</li>
													<li>
														<a th:href="@{/products}">Sách tiếng anh</a>
													</li>
													<li>
														<a th:href="@{/products}">Sách văn học</a>
													</li>
													<li>
														<a th:href="@{/products}">Sách Trinh Thám</a>
													</li>
													<li>
														<a th:href="@{/products}">Bán chạy nhất</a>
													</li>
												</ul>
											</div>
										</li>
										<li  >
											<a th:href="@{/index}">Trang Chủ</a>
										</li>
										<!--  <li class="menu-item-has-children current-menu-item">
											 <a href="javascript:void(0);">Trang Chủ</a> 
											<ul class="sub-menu">
												<li class="current-menu-item"><a th:href="@{/index}">Trang Chủ</a></li>
											</ul>
											
										</li>-->
										<!--  <li class="menu-item-has-children">
											<a href="javascript:void(0);">Tác Giả</a>
											<ul class="sub-menu">
												<li><a href="authors">Tác Giả</a></li>
											</ul>
										</li>-->
										
										<li><a href="products">Bán Chạy Nhất</a></li>
										<li><a href="products">Tất cả sản phẩm</a></li>
										<li  th:if= "${customer.email == null}">
											<a href="/login">Đăng Nhập</a>
										</li>
										<li  th:if= "${customer.email == null}">
											<a href="/registered">Đăng Ký</a>
										</li>
										<li><a th:href="@{/contact}">Liên Hệ</a></li>
										
									</ul>
								</div>
							</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>