<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <!-- title -->
    <title>Time Shop</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <!-- animate css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- jquery-ui css -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <!-- mean menu css -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main style -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- responsive -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/menu_custom.css}">
    <!-- shop_custom css -->
    <link rel="stylesheet" th:href="@{/css/shop_custom.css}">
</head>
<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="/mvc/index">
                            <img th:src="@{/assets/logo/logo.png}"/>
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li><a href="/mvc/index">Trang chủ</a>
                            </li>
                            <li class="current-list-item"><a href="/mvc/shop">Mua sắm</a></li>
                            <li><a href="/mvc/contact">Liên hệ</a>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="/mvc/shopping-cart">
                                        <i class="fas fa-shopping-cart checkout" aria-hidden="true"></i>
                                        <span id="checkout_items"
                                              class="checkout_items">[[${tongSoLuongGioHang}]]</span>
                                    </a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    <div th:if="${sessionUsername}!=null" class="dropdown dropdownCustom">
                                        <div class="dropdown-toggle customUser" id="dropdownMenuButton"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                            <i class="fas fa-user">
                                                Xin chào, [[${sessionUsername}]]</i>
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item dropdownCustom"
                                               th:href="@{/mvc/information?urlReturn=shop}">Thông tin</a>
                                            <a class="dropdown-item dropdownCustom"
                                               th:href="@{/mvc/information/change-password}">Đổi mật
                                                khẩu</a>
                                            <a class="dropdown-item dropdownCustom"
                                               th:href="@{/mvc/information?tag=order}">Đơn hàng</a>
                                            <a class="dropdown-item dropdownCustom"
                                               th:href="@{/mvc/logout?urlReturn=shop}">Đăng xuất</a>
                                        </div>
                                    </div>

                                    <div th:if="${sessionUsername}==null" class="dropdown dropdownCustom">
                                        <div class="dropdown-toggle customUser" id="dropdownMenuButton"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                             href="#">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item dropdownCustom"
                                               th:href="@{/mvc/login?urlReturn=shop}">Đăng nhập</a>
                                            <a class="dropdown-item dropdownCustom" th:href="@{/mvc/register}">Đăng
                                                ký</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <form style="display:flex !important; margin-top:12em !important">
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Nhập từ khóa tìm kiếm:</h3>
                            <input name="txtSearch" type="text" placeholder="Tên sản phẩm">
                            <button type="submit">Tìm kiếm <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end search area -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Mua sắm</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="containerCustom" style="padding-bottom: 20px">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Sản phẩm</span> của chúng tôi</h3>
                    <p>Trang sức chẳng bao giờ thực sự hút mắt tôi, nhưng đồng hồ thì luôn luôn làm tôi chú ý.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <section class="sectionCustom" id="options">
                    <h3>Bộ lọc</h3>
                    <!-- Section: Condition -->
                    <div data-group="brand" class="mb-4 option-set">
                        <h4 class="font-weight-bold mb-3">Hãng</h4>
                        <th:block th:each="brand : ${listBrand}">
                            <div class="form-check mb-3">
                                <input class="form-check-input mt-2 checkboxCustom brandCustom"
                                       value-group="brand"
                                       type="checkbox"
                                       th:value="'.brand'+${brand.id}"
                                       th:id="'brand' + ${brand.id}">
                                <label class="form-check-label text-uppercase text-muted"
                                       th:attr="for='brand'+${brand.id}">
                                   [[${brand.brandName}]]
                                </label>
                            </div>
                        </th:block>
                    </div>
                    <!-- Section: Condition -->
                    <!-- Section: Condition -->
                    <div data-group="category" class="mb-4 option-set">
                        <h4 class="font-weight-bold mb-3">Danh mục</h4>
                        <th:block th:each="category : ${listCategory}">
                            <div class="form-check mb-3">
                                <input class="form-check-input mt-2 checkboxCustom categoryCustom"
                                       value-group="category"
                                       type="checkbox"
                                       th:value="'.category'+${category.id}"
                                       th:id="'category' + ${category.id}">
                                <label class="form-check-label text-uppercase text-muted"
                                       th:attr="for='category'+${category.id}">
                                    [[${category.categoryName}]]
                                </label>
                            </div>
                        </th:block>
                    </div>
                    <!-- Section: Condition -->

                    <!-- Giá -->
                    <div data-group="price" class="mb-4 option-set">
                        <h4 class="font-weight-bold mb-3">Giá</h4>
                        <div class="form-check mb-3">
                            <input class="form-check-input mt-2 checkboxCustom priceCustom" value=".price1" type="checkbox"
                                   name="flexRadioDefault" id="price-radio">
                            <label class="form-check-label text-uppercase text-muted" for="price-radio">
                                0 - 2,000,000 đ
                            </label>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input mt-2 checkboxCustom priceCustom" value=".price2" type="checkbox"
                                   name="flexRadioDefault" id="price-radio2">
                            <label class="form-check-label text-uppercase text-muted" for="price-radio2">
                                2,000,001 - 3,000,000 đ
                            </label>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input mt-2 checkboxCustom priceCustom" value=".price3" type="checkbox"
                                   name="flexRadioDefault" id="price-radio3">
                            <label class="form-check-label text-uppercase text-muted" for="price-radio3">
                                3,000,001 - 4,000,000 đ
                            </label>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input mt-2 checkboxCustom priceCustom" value=".price4" type="checkbox"
                                   name="flexRadioDefault" id="price-radio4">
                            <label class="form-check-label text-uppercase text-muted" for="price-radio4">
                                Từ 4,000,001 đ trở lên
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <a th:href="@{/mvc/shop}"
                               class="btn btn-danger">Xóa bộ lọc</a>
                        </div>
                    </div>
                    <!-- giá -->
                </section>
            </div>
            <div class="col-9">
                <div class="product_sorting_container product_sorting_container_top">
                    <ul class="product_sorting">
                        <li>
                            <span>Số sản phẩm</span>
                            <span class="num_sorting_text">[[${soSanPhamHienTai}]]</span>
                            <i class="fa fa-angle-down"></i>
                            <ul class="sorting_num">
                                <a th:href="@{'/mvc/shop?soSanPham=8&txtSearch='+${timKiemHienTai}}">
                                    <li class="num_sorting_btn">
                                        <span>8</span>
                                    </li>
                                </a>
                                <a th:href="@{'/mvc/shop?soSanPham=16&txtSearch='+${timKiemHienTai}}">
                                    <li class="num_sorting_btn">
                                        <span>16</span>
                                    </li>
                                </a>
                                <a th:href="@{'/mvc/shop?soSanPham=32&txtSearch='+${timKiemHienTai}}">
                                    <li class="num_sorting_btn">
                                        <span>32</span>
                                    </li>
                                </a>
                            </ul>
                        </li>
                    </ul>
                </div>
                <section class="items">
                    <div class="row" id="product-lists">
                        <th:block th:each="item : ${listProduct}">
                            <div class="col-lg-3 col-md-6 text-center"
                                 th:classappend="'category'+${item.product.categoriesByCategoryId.id}+' brand'+${item.product.brandByBrandId.id}+' '+${item.classPrice}">
                                <div class="single-product-item">
                                    <div class="product-image">
                                        <span th:if="${item.product.discount} > 0" id="checkout_items" class="checkout_items3">[[${item.product.discount}]]%</span>
                                        <a th:href="@{'/mvc/single-product?id='+${item.product.id}}">
                                            <img id="product_img" class="product_img"
                                                 th:src="@{'/assets/img/products/'+${item.product.images}}" alt=""></a>
                                    </div>
                                    <h5 style="min-height:42px;" th:text="${item.product.productName}"></h5>
                                    <div style="min-height: 87px;">
                                        <p class="product-price" th:classappend="${item.product.discount} > 0 ? 'discountCustom' : ''" >
                                            [[${#numbers.formatDecimal(item.product.price*(100-item.product.discount)/100, 0, 'COMMA', 0, 'POINT')}]] đ </p>
                                        <p th:if="${item.product.discount} > 0" class="product-price-old">
                                            [[${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT')}]] đ </p>
                                    </div>
                                    <a th:attr="data-masanpham=${item.product.id}" class="cart-btn btnAddToCart"><i class="fas fa-shopping-cart"></i>
                                        Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li>
                            <a th:href="@{'/mvc/shop?soTrang='+${soTrangHienTai-1}+'&soSanPham='+${soSanPhamHienTai}+'&txtSearch='+${timKiemHienTai}}">Prev</a>
                        </li>
                        <th:block th:each="i: ${#numbers.sequence(1,tongSoTrang)}">
                            <li><a class="active" th:if="${soTrangHienTai==i}" th:href="@{'/mvc/shop?soTrang='+${i}+'&txtSearch='+${timKiemHienTai}}">[[${i}]]</a>
                            </li>
                            <li><a th:unless="${soTrangHienTai==i}"
                                   th:href="@{'/mvc/shop?soTrang='+${i}+'&soSanPham='+${soSanPhamHienTai}+'&txtSearch='+${timKiemHienTai}}">[[${i}]]</a>
                            </li>
                        </th:block>
                        <li>
                            <a th:href="@{'/mvc/shop?soTrang='+${soTrangHienTai+1}+'&soSanPham='+${soSanPhamHienTai}+'&txtSearch='+${timKiemHienTai}}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- features list section -->
    <div class="list-section pt-80 pb-80">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content">
                            <h3>Miễn phí vận chuyển</h3>
                            <p>Khi đơn hàng từ 2,000,000 đ trở lên</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="list-box d-flex align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="content">
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Tất cả các ngày trong tuần</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="list-box d-flex justify-content-start align-items-center">
                        <div class="list-icon">
                            <i class="fas fa-sync"></i>
                        </div>
                        <div class="content">
                            <h3>Đổi trả</h3>
                            <p>Miễn phí đổi trả trong 3 ngày!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end features list section -->
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img th:src="@{/assets/img/company-logos/1.png}" alt="" width="150px;" height="100px;">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/assets/img/company-logos/2.png}" alt="" width="150px;" height="100px;">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/assets/img/company-logos/3.png}" alt="" width="150px;" height="100px;">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/assets/img/company-logos/4.png}" alt="" width="150px;" height="100px;">
                    </div>
                    <div class="single-logo-item" style="margin-top: 25px;">
                        <img th:src="@{/assets/img/company-logos/5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Về chúng tôi</h2>
                    <p>SHOP Đồng Hồ Nam Nữ Chính Hãng Từ Năm 2022</p>
                </div>
                <div class="footer-social">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </div>
                <div class="footer-hotline">
                    <p>HOTLINE: 0909.009.090</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Hướng dẫn</h2>
                    <ul>
                        <li><a href="/mvc/contact">Thông Tin Liên Hệ</a></li>
                        <li><a href="/mvc/contact">Hỏi Đáp - Góp Ý</a></li>
                        <li><a href="#">Chính Sách Đổi Hàng</a></li>
                        <li><a href="#">Thanh Toán & Trả Góp</a></li>
                        <li><a href="#">Vận Chuyển & Giao Nhận</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Tham khảo</h2>
                    <ul>
                        <li><a>Thông Báo Mới</a></li>
                        <li><a>Điêu Khoản Sử Dụng</a></li>
                        <li><a>Bảo Mật Thông Tin</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">chứng nhận</h2>
                    <img th:src="@{/assets/img/company-logos/noi-khong-voi-hang-gia.png}" alt="">
                    <img th:src="@{/assets/img/company-logos/bocongthuong.png}" alt="">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">

        <p>2022 &copy; <a href="index.html">TIME SHOP</a>
        </p>

    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<!-- bootstrap -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- count down -->
<script th:src="@{/js/jquery.countdown.js}"></script>
<!-- isotope -->
<script th:src="@{/js/jquery.isotope-3.0.6.min.js}"></script>
<!-- waypoints -->
<script th:src="@{/js/waypoints.js}"></script>
<!-- owl carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- mean menu -->
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<!-- sticker js -->
<script th:src="@{/js/sticker.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/jquery-ui.js}"></script>

<script th:src="@{/fly_to_cart/js/flyto.min.js}"></script>
<script th:src="@{/js/index_custom.js}"></script>
<script th:src="@{/js/isotopCustom.js}"></script>

</body>
</html>