<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="footer" th:fragment="footer">
		<div class="container-fluid">
			<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://www.themekita.com">
									Facebook
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Hổ trợ
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									FPT Polytechnic
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2024, nhóm 3 <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
					</div>		
		</div>
	</footer>
</body>
</html>