<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  
</head>
<body>
	<div class="sidebar sidebar-style-2" data-background-color="dark2" th:fragment="navbar">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				
					<ul class="nav nav-primary">
						<li class="nav-item active">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Trang chủ</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a th:href="@{/admin/home}">
											<i class="fas fa-home"></i>
											<span class="sub-item">Trang chủ</span>
										</a>
									</li>
									<li>
										<a th:href="@{/index}">
											<i class="fas fa-home"></i>
											<span class="sub-item">Quay lại trang chủ người dùng</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li>
						<!-- <li class="nav-item">
							<a data-toggle="collapse" href="#forms">
								<i class="fas fa-pen-square"></i>
									<p>Forms</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="forms">
								<ul class="nav nav-collapse">
									<li>
										<a href="#">
											<span class="sub-item">Basic Form</span>
										</a>
									</li>
								</ul>
							</div>
						</li> -->
						<li class="nav-item">
							<a data-toggle="collapse" href="#tables">
								<i class="fas fa-table"></i>
								<p>Admin Quản Lý</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<!-- <li>
										<a th:href="@{/admin/authorList}">
											<i class="fas fa-users"></i>
											<span class="">Quản Lý Tác Giả</span>
										</a>
									</li> -->

									<li>
										<a th:href="@{/admin/userList}">
											<i class="fas fa-users"></i>
											<span class="">Quản Lý Users</span>
										</a>
									</li>
									<li>
										<a th:href="@{/admin/categories}">
											<i class="fas fa-list"></i>
											<span class="">Quản Lý Thể Loại</span>
										</a>
									</li>
									<li>
										<a th:href="@{/admin/books}">
											<i class="fas fa-book"></i>
											<span class="">Quản Lý Sách</span>
										</a>
									</li>
									<li>
										<a th:href="@{/admin/orders}">
											<i class="fas fa-list"></i>
											<span class="">Quản Lý Order</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
</body>
</html>